html {
  background-color: #121214;
  box-sizing: border-box;
  color: $font-color-base;
  font-family: $body-font;
  font-size: 14px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: $extra-large-padding $extra-large-padding 0;
  overflow: auto;
  line-height: 1.4;

  @media #{$small-devices} {
    padding: $medium-padding $medium-padding 0;
  }
}

img {
  max-width: 100%;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
