.container {
  width: 100%;

  @media #{$medium-devices} {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container__left {
    background-image: url("/assets/images/ice-cream-1.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 30vh;
    padding: $small-padding;;
    position: sticky;
    top: 0;

    @media #{$medium-devices} {
      background-size: auto 100%;
      height: 100vh;
      padding: $medium-padding;
    }

    @media #{$large-devices} {
      background-size: 100% auto;
      padding: $large-padding;
    }
  }

  .container__right {
    padding: $small-padding;

    @media #{$medium-devices} {
      padding: $medium-padding;
    }

    @media #{$large-devices} {
      padding: $large-padding;
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2em;

  .portfolio {
    justify-self: center;
  }

  .blog {
    justify-self: end;
  }
}

.content {
  margin-top: $small-padding;

  @media #{$medium-devices} {
    margin-top: $medium-padding;
  }

  @media #{$large-devices} {
    margin-top: $large-padding;
  }
}
