.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: $extra-large-padding;
  width: 100%;

  @media #{$small-devices} {
    padding: $large-padding;
  }
}

.container__right {
  padding: $extra-large-padding 0;

  @media #{$small-devices} {
    padding: $large-padding 0;
  }
}

.nav {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;

    @media #{$small-devices} {
      display: none;
    }
  }
}

section {
  margin: $small-padding 0;
}

.content-default {
  margin-top: $small-padding;

  @media #{$medium-devices} {
    margin-top: $medium-padding;
  }

  @media #{$large-devices} {
    margin-top: $large-padding;
  }

  img {
    max-height: 400px;
    max-width: 100%;
  }

  p, ul {
    font-weight: $font-weight-small;
  }
}
