.container {
  margin: 0 auto;
  max-width: 1420px;
  width: 100%;
  display: flex;
  align-items: top;
  align-content: space-between;
  gap: 60px;

  @media #{$small-devices} {
    padding: $medium-padding;
    display: block;
  }
}


.container__newsletter {
  animation: slide-up .25s ease-in;
  padding: $extra-large-padding 0;

  @media #{$small-devices} {
    padding: 0;
  }
}

.container__content {
  flex: 4;
  animation: slide-up .25s ease-in;
  padding: $extra-large-padding 0;

  @media #{$small-devices} {
    padding: $medium-padding 0;
  }
}

.nav {
  display: grid;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  grid-template-columns: 4fr 1fr;
  width: 100%;

  a:hover {
    color: $orange;
    text-decoration: none;
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    @media #{$small-devices} {
      display: none;
    }
  }
}
