.container {
  width: 100%;

  @media #{$large-devices} {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container__left {
    background-color: #eee;
  }

  .container__right, .container__left {
    padding-right: $small-padding;
    padding-left: $small-padding;

    @media #{$medium-devices} {
      padding-right: $medium-padding;
      padding-left: $medium-padding;
    }

    @media #{$large-devices} {
      padding-right: $large-padding;
      padding-left: $large-padding;
    }
  }
}

.container-header {
  .container__left {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0;

    &-default {
      height: 30vh;

      @media #{$large-devices} {
        height: 100vh;
      }
    }

    &.ice_cream_1 {
      background-image: url("/assets/images/ice-cream-1.JPG");
    }

    &.ice_cream_2 {
      background-image: url("/assets/images/ice-cream-2.JPG");
    }

    &.ice_cream_6 {
      background-image: url("/assets/images/ice-cream-6.JPG");
    }
  }

  .container__right, .container__left {
    padding-top: $small-padding;
    padding-bottom: $small-padding;

    @media #{$medium-devices} {
      padding-top: $medium-padding;
      padding-bottom: $medium-padding;
    }

    @media #{$large-devices} {
      padding-top: $large-padding;
      padding-bottom: $large-padding;
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2em;

  .portfolio {
    justify-self: center;
  }

  .blog {
    justify-self: end;
  }

  .active {
    text-decoration: underline;
  }
}


.content {
  &-post {
    padding: 0 $small-padding 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;

    @media #{$medium-devices} {
      padding: 0 $medium-padding 0;
    }

    @media #{$large-devices} {
      padding: 0 $large-padding 0;
    }
  }

  &-default {
    margin-top: $small-padding;

    @media #{$medium-devices} {
      margin-top: $medium-padding;
    }

    @media #{$large-devices} {
      margin-top: $large-padding;
    }
  }
}
