.content-post {
  margin: 0 auto;
  text-align: center;

  @media #{$medium-devices} {
    width: 70%;
  }

  section {
    width: 80%;
    margin: 0 auto;
    padding: $small-padding;

    @media #{$medium-devices} {
      padding: $small-padding $medium-padding;
    }

    @media #{$large-devices} {
      padding: $small-padding $large-padding;
    }
  }

  & h2, h3 {
    text-align: center;
  }

  img {
    max-height: 400px;
    max-width: 100%;
  }

  p, ul {
    text-align: left;
  }
}
