.container-centered {
  width: 40%;
  margin: $medium-padding auto;
}

.post-images img {
  width: 100%;
  margin-bottom: $medium-padding;
  border-radius: 5px;
}

.post-videos {
  min-height: 100%;
}
