.container__post {
  animation: slide-up .25s ease-in;
  max-width: 1420px;
  padding: $large-padding $extra-large-padding 0;

  @media #{$small-devices} {
    padding: 0 $medium-padding;
  }
}

.post-description {
  font-weight: $font-weight-medium;
}
