html {
  font-weight: $font-weight-medium;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  margin-bottom: $small-padding;

  @media #{$small-devices} {
    font-size: $font-size-medium;
  }
}

h2 {
  font-size: $font-size-medium;
  margin-bottom: $small-padding;

  @media #{$small-devices} {
    font-size: $font-size-small;
    font-weight: $font-weight-small;
  }
}

h3 {
  color: $orange;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  margin-bottom: $small-padding;

  @media #{$small-devices} {
    font-size: $font-size-extra-small;
  }
}

a {
  color: $dark-blue;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }

  &.header:hover, &.header:active {
    text-decoration: none;
  }
}

p, li {
  font-size: $font-size-medium;
}

code {
  background-color: $dark-blue;
  color: #fff;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.quote {
  font-style: italic;
  padding-left: $small-padding;
}

