h1, h2, h3, h4 {
  margin: 0;
}

h1, h2 {
  font-family: $header-font;
}

h1 {
  font-size: 2em;
  font-weight: $font-weight-bold;
}

.container__left {
  h1 {
    margin: 0 0 10px 0;

    &::before {
      height: 30px;
      top: 15px;
    }
  }

  h3 {
    margin: 0 0 0 20px;

    &::before {
      height: 20px;
      top: 6px;

      @media #{$medium-devices} {
        top: 5px;
      }
    }
  }

  h1, h3 {
    position: relative;
    display: inline-block;
    z-index: 0;

    &::before {
      background-color: white;
      content: "";
      left: -10px;
      opacity: .6;
      position: absolute;
      width: 105%;
      z-index: -1;
    }
  }
}

h2, h3, p, li {
  letter-spacing: 0.5px;

  @media #{$large-devices} {
    letter-spacing: 1px;
  }
}

h2 {
  font-size: 1.9em;
  font-weight: $font-weight-medium;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

a {
  color: $dark-blue;
  text-decoration: none;
  font-family: $header-font;
  font-weight: $font-weight-medium;

  &:hover, &:active {
    text-decoration: underline;
  }

  &.header:hover, &.header:active {
    text-decoration: none;
  }
}

p, li {
  font-size: 1em;

  a {
    color: $pink;
  }
}

code {
  background-color: $dark-blue;
  color: #fff;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
