$hover: #C47F8F;
$pink: #E57189;
$dark-blue: #195A69;

$header-font: "Assistant", sans-serif;

$medium-devices: "screen and (min-width: 415px)";
$large-devices: "screen and (min-width: 769px)";

$small-padding: 30px;
$medium-padding: 60px;
$large-padding: 100px;
