$small-devices: "only screen and (max-width: 489px)";
$medium-devices: "screen and (min-width: 415px)";
$large-devices: "screen and (min-width: 769px)";

$hover: #C47F8F;
$orange: #76a1b3;
$grey: #5f696f;
$light-grey: light-grey;
$off-white: #FFFDF9;
$font-color-base: #a7a7a7;

$header-font: "Azeret Mono", serif;
$body-font: "Noto Serif", serif;

$font-size-extra-small: 14px;
$font-size-small: 18px;
$font-size-medium: 22px;
$font-size-large: 24px;
$font-size-extra-large: 36px;

$font-weight-extra-small: 300;
$font-weight-small: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;

$extra-small-padding: 6px;
$small-padding: 12px;
$medium-padding: $small-padding * 2;
$large-padding: $medium-padding * 2;
$extra-large-padding: $large-padding * 3;

$border-radius: 4px;
