---
---

$hover: #C47F8F;

@font-face {
  font-family: "Steelworks Vintage";
  src: url('fonts/SteelworksVintageDemo.woff') format('woff'),
  url('fonts/Steelworks_Vintage_Demo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'acherus grotesque';
  src: url('fonts/acherus_grotesque_-_regular-webfont.woff2') format('woff2'), url('fonts/acherus_grotesque_-_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: linear-gradient(to bottom, #266980 0%, #184960 100%);
}

.content {
  color: #E2AFBB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100wh;
}

h1 {
  font-family: "acherus grotesque";
  font-size: 48px;
  margin: 0 0 20px 0;
}

h2 {
  font-family: "acherus grotesque";
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 0 40px 0;
}

.links {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  @media only screen and (min-width: 736px) {
    width: 500px;
  }
}

.links a {
  flex: 1;
}

.link:hover,
.link-stroke:hover {
  cursor: pointer;

}

.link:hover {
  path {
    fill: $hover;
  }
}

.link-stroke:hover {
  path, circle {
    stroke: $hover;
  }
}

