<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="/assets/images/og-image.png" />
    <title>{{ page.title }} by {{ site.title}}</title>
    {% include analytics.html %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    {{ content }}


    <div class="container">
      <div class="container__newsletter">
        <form action="https://tinyletter.com/hannahhearth" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/hannahhearth', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <h2>Sign up for my email newsletter</h2>
          <p>Receive an email update each time I publish a new article. I don't post
          often, and will never spam you with messages unrelated to my blog
          posts.</p>
          <label for="tlemail">Email address</label>
          <input type="text" name="email" id="tlemail" />
          <input type="hidden" value="1" name="embed"/>
          <input type="submit" value="Subscribe" />
        </form>
      </div>
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
